@model DBCDay07.Models.TblHang

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Bạn có chắc chắn muốn xóa sản phẩm này không?</h3>
<div>
    <h4>Thông tin hàng hóa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenHang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenHang)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DonGiaNhap)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DonGiaNhap)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DonGiaBan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DonGiaBan)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anh)
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.Anh))
            {
                <img src="~/Images/Hang/@Model.Anh" alt="Ảnh sản phẩm" style="max-width:150px; max-height:150px;" />
            }
            else
            {
                <span>Không có ảnh</span>
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaChatLieuNavigation)
        </dt>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MaHang" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
